<section class="registrar-container-wrapper">
    <div class="dashboard-card">
            <table class="pending_reqtab">
                <thead>
                    <tr><th colspan="4"><h2>Pending Request</h2>
                        <th class="toolbar-cell">
                            <input type="text" id="complete_search" name="complete_search" placeholder="Search">
                            <button>Filter</button>
                        </th>
                    </th>
                </tr>
                    <tr>
                        <th>ID Number</th>
                        <th>Name</th>
                        <th>Request Type</th>
                        <th>Attached File</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="empty-row">
                        <td colspan="4">No pending requests at the moment.</td>
                    </tr>
                </tbody>
            </table>
            
            <table class="pending_reqtab">
                <thead>
                    <tr><th colspan="4"><h2>Approved Request</h2>
                        <th class="toolbar-cell">
                            <input type="text" id="complete_search" name="complete_search" placeholder="Search">
                            <button>Filter</button>
                        </th>
                    </th>
                </tr>
                    <tr>
                        <th>ID Number</th>
                        <th>Name</th>
                        <th>Request Type</th>
                        <th>Attached File</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="empty-row">
                        <td colspan="4">No pending requests at the moment.</td>
                    </tr>
                </tbody>
            </table>
    </div>

        
</section>