{% extends "base.html" %}
{% block content %}
<div class=landing-container>
    <div class="modal-container">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% include "auth/login.html" %}
        {% include "auth/signup.html" %}

    </div>
</div>

<script>
    function showSignup() {
        document.getElementById('login-view').style.display = 'none';
        document.getElementById('signup-view').style.display = 'block';
    }
    function showLogin() {
        document.getElementById('signup-view').style.display = 'none';
        document.getElementById('login-view').style.display = 'block';
    }
</script>
{% endblock %}