{% extends "base.html" %}
{% block content %}
<div class="dashboard-wrapper">
    <div class="dashboard-header">
        <div>
            <h1>Welcome, {{ current_user.full_name }}</h1>
        </div>
        <a class="btn-primary" href="{{ url_for('auth.logout') }}">Log out</a>
    </div>

    <div class="tab-nav">
        <button class="tab-link active" data-tab="profile">Profile</button>
        <button class="tab-link" data-tab="new-request">New Request</button>
        <button class="tab-link" data-tab="requests">Requests</button>
    </div>

    <div id="profile" class="tab-content active">
        <section class="dashboard">
            <h2>My Profile</h2>
            {% include "modals/student_profile.html" %}
        </section>
    </div>

    <div id="new-request" class="tab-content">
        {% include "modals/student_request_form.html" %}
    </div>

    <div id="requests" class="tab-content">
        {% include "modals/student_dashboard.html" %}
    </div>
</div>

<script> {% include "modals/script/tablink.js" %}   </script>
{% endblock %}