<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lyceum of Alabang - Tunasan</title> 
     <link rel="icon" href="{{ url_for('static', filename='images/loalogo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/redo.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header-base">
            <p>Km. 30 National Road, Tunasan, Muntinlupa City</p>
    </header>
    <nav class="navbar">
        <h1>Lyceum of Alabang</h1>
        <br>
    </nav>
    <nav class="navbar2">
        <h1></h1>
    </nav>
{% block content %}
{% endblock %}
    <footer class="footer-base">
        <p>&copy; 2026 Lyceum of Alabang. All rights reserved.</p>
    </footer>

</body>
</html>