<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lyceum of Alabang - Tunasan</title> 
     <link rel="icon" href="{{ url_for('static', filename='images/loalogo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/redo.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
        <nav class="navbar">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Lyceum of Alabang" class="navbar-logo">
    </nav>
            
        </nav>
    <nav class="navbar2">
        <h1></h1>
    </nav>
        <div class="page-wrapper {% block wrapper_class %}{% endblock %}">
            {% block content %}
            {% endblock %}
        </div>
    <footer class="footer-base">
    <p>&copy; 2026 Lyceum of Alabang Registrar's Office</p>
    <p>Document Request and Processing System | v1.0 </p>
    </footer>

</body>
</html>


